/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* =========================================
   Author's custom styles
   ========================================= */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.coming-soon-2020 {
  min-height: 95%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.homepage-video-background {
}

.homepage-masthead {
  /* position: relative;
  height: 60vh;
  min-height: 25rem;
  overflow: hidden; */
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.homepage-masthead img {
  width: 70%;
  margin-top: 17%;
  margin-bottom: 5%;
}

.coming-soon-copy {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 15%;
}

.coming-soon-copy h2 {
  font-size: 1.1375em;
  font-weight: 400;
  color: #808080;
  text-transform: uppercase;
  margin-block-start: 0.2625em;
  margin-block-end: 0.0875em;
}
.coming-soon-copy p {
  font-size: .875em;
  font-weight: 300;
  color: #808080;
  text-transform: uppercase;
  margin-block-start: 0em;
  margin-block-end: 0em;
}


header {
  display: none;
}

.home-intro-copy {
  font-family: 'EB Garamond', serif;
}

main {
  display: none;
}

footer {
  background-color: #000000;
}

.footer-social-media-nav nav ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: .65625em;
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer-social-media-nav nav ul li {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-media-nav nav ul li a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-media-nav nav ul li img {
  width: 75%;
}

.footer-contact-info p {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: .7em;
  font-weight: 300;
  margin-block-start: .4375em;
  margin-block-end: .4375em;
}

.footer-contact-info .email {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.footer-contact-info a:hover{
  color: #eabe7f;
}

.footer-contact-info .phone-number {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.footer-copyright-info p {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: .43em;
  text-align: center;
  text-decoration: none;
}

/* ********************************************** */
/* ************** MIN WIDTH 320px *************** */
/* ********************************************** */
@media screen and (min-width:320px) {
  .coming-soon-2020 {
    min-height: 93%;
  }

  .coming-soon-copy h2 {
    font-size: 1.3em;
    margin-block-start: 0.3em;
    margin-block-end: 0.1em;
  }

  .coming-soon-copy p {
    font-size: 1em;
  }

  .footer-social-media-nav nav ul {
    margin-bottom: .75em;
  }

  .footer-contact-info p {
    font-size: .8em;
    margin-block-start: .5em;
    margin-block-end: .5em;
  }

  .footer-copyright-info p {
    font-size: .49em;
  }

}


/* ********************************************** */
/* ************** MIN WIDTH 360px *************** */
/* ********************************************** */
@media screen and (min-width:360px) {

  .coming-soon-2020 {
    min-height: 94.5%;
  }

  .coming-soon-copy h2 {
    font-size: 1.4625em;
    margin-block-start: 0.3375em;
    margin-block-end: 0.1125em;
  }

  .coming-soon-copy p {
    font-size: 1.125em;
  }

  .footer-social-media-nav nav ul {
    margin-bottom: .84375em;
  }

  .footer-contact-info p {
    font-size: .9em;
    margin-block-start: .5625em;
    margin-block-end: .5625em;
  }

  .footer-copyright-info p {
    font-size: .55125em;
  }
}

/* ********************************************** */
/* ************** MIN WIDTH 375px *************** */
/* ********************************************** */
@media screen and (min-width:375px) {

  .coming-soon-2020 {
    min-height: 95%;
  }

  .coming-soon-copy h2 {
    font-size: 1.52344em;
    margin-block-start: 0.35156em;
    margin-block-end: 0.11719em;
  }

  .coming-soon-copy p {
    font-size: 1.17189em;
  }

  .footer-social-media-nav nav ul {
    margin-bottom: .87891em;
  }

  .footer-contact-info p {
    font-size: .9375em;
    margin-block-start: .58594em;
    margin-block-end: .58594em;
  }

  .footer-copyright-info p {
    font-size: .57422em;
    margin-block-start: .5em;
  }
}

/* ********************************************** */
/* ************** MIN WIDTH 411px *************** */
/* ********************************************** */
@media screen and (min-width:411px) {

  .coming-soon-2020 {
    min-height: 95%;
  }

  .coming-soon-copy h2 {
    font-size: 1.66969em;
    margin-block-start: 0.38531em;
    margin-block-end: 0.12844em;
  }

  .coming-soon-copy p {
    font-size: 1.28439em;
  }

  .footer-social-media-nav nav ul {
    margin-bottom: .96329em;
  }

  .footer-contact-info p {
    font-size: 1.0275em;
    margin-block-start: .64219em;
    margin-block-end: .64219em;
  }

  .footer-copyright-info p {
    font-size: .62935em;
    margin-block-start: .5em;
  }
}

/* ********************************************** */
/* ************** MIN WIDTH 414px *************** */
/* ********************************************** */
@media screen and (min-width:414px) {

  /* .coming-soon-2020 {
    min-height: 95%;
  }

  .coming-soon-copy h2 {
    font-size: 1.79158em;
    margin-block-start: 0.41344em;
    margin-block-end: 0.13782em;
  }

  .coming-soon-copy p {
    font-size: 1.37815em;
  }

  .footer-social-media-nav nav ul {
    margin-bottom: 1.03361em;
  }

  .footer-contact-info p {
    font-size: 1.10251em;
    margin-block-start: .68907em;
    margin-block-end: .68907em;
  }

  .footer-copyright-info p {
    font-size: .67529em;
    margin-block-start: .5em;
  } */
}

/* ********************************************** */
/* ************** MIN WIDTH 450px *************** */
/* ********************************************** */
@media screen and (min-width:450px) {

  .coming-soon-2020 {
    min-height: 95%;
  }

  .homepage-masthead img {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 3%;
  }

  .coming-soon-copy h2 {
    font-size: 1.2em;
    margin-block-start: 0.38531em;
    margin-block-end: 0.12844em;
  }

  .coming-soon-copy p {
    font-size: .92309em;
  }

  .footer-social-media-nav nav ul {
    margin-bottom: .96329em;
  }

  .footer-social-media-nav nav ul li {
    width: 8%;
  }

  .footer-contact-info p {
    font-size: .73854em;
    margin-block-start: .64219em;
    margin-block-end: .64219em;
  }

  .footer-copyright-info p {
    font-size: .45321em;
    margin-block-start: .5em;
  }

}

/* ******************************************** */
/* ************** MIN WIDTH 768 *************** */
/* ******************************************** */
@media screen and (min-width:768px) {

  .coming-soon-2020 {
    min-height: 96%;
  }

  .homepage-masthead img {
    width: 55%;
    margin-top: 16%;
    margin-bottom: 4%;
  }

  .coming-soon-copy h2 {
    font-size: 1.66969em;
    margin-block-start: 0.38531em;
    margin-block-end: 0.12844em;
  }

  .coming-soon-copy p {
    font-size: 1.53856em;
  }

  .footer-social-media-nav nav ul {
    margin-bottom: .96329em;
  }

  .footer-social-media-nav nav ul li {
    width: 6.5%;
  }

  .footer-contact-info p {
    font-size: 1.0275em;
    margin-block-start: .64219em;
    margin-block-end: .64219em;
  }

  .footer-copyright-info p {
    font-size: .62935em;
    margin-block-start: .5em;
  }
}

/* ******************************************** */
/* ************** MIN WIDTH 1024 *************** */
/* ******************************************** */
@media screen and (min-width:1024px) {
  .coming-soon-copy h2 {
    font-size: 2.9em;
    margin-block-start: 0.38531em;
    margin-block-end: 0em;
  }

  .coming-soon-copy p {
    font-size: 2.2em;
  }

}

/* ******************************************** */
/* ************** MIN WIDTH 1025 *************** */
/* ******************************************** */
@media screen and (min-width:1025px) {
  .homepage-masthead img {
    width: 35%;
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .coming-soon-copy {
    margin-bottom: 3%;
  }

  .coming-soon-copy h2 {
    font-size: 1.7em;
    margin-block-start: 0.38531em;
    margin-block-end: 0em;
  }

  .coming-soon-copy p {
    font-size: 1.3em;
  }

  .footer-social-media-nav nav ul li {
    width: 4.5%;
  }

  .footer-contact-info p {
    font-size: .8em;
  }

  /*.footer-copyright-info p br {
    display: none;
  } */

}


/* ******************************************** */
/* ************** MIN WIDTH 1215 *************** */
/* ******************************************** */
@media screen and (min-width:1215px) {
  .homepage-masthead img {
    width: 25%;
  }

  .footer-social-media-nav nav ul li {
    width: 3.5%;
  }

}


/* ******************************************** */
/* ************** MIN WIDTH 1380 *************** */
/* ******************************************** */
@media screen and (min-width:1380px) {
  .homepage-masthead img {
    width: 20%;
  }

  .footer-social-media-nav nav ul li {
    width: 3%;
  }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
